@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 1440px;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}